body {
    font-family: 'Noto Sans', sans-serif;
}
.links, .header {
    display:flex;
    justify-content:center;
}
.social {
    width: 30px;
    margin: 10px;
}
#emily {
    width: 25%;
}
h1 {
    text-align: center;
}
.column {
    display:flex;
    justify-content:space-around;
}
.reads .likes {
    width: 50%;
}
h2 {
    text-align: center;
}